<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>ChatControlCenter - {% block title %}{% endblock %}</title>

	<script src="https://telegram.org/js/telegram-web-app.js"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base/style.css') }}" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body>
<div class="position-fixed bg-black bg-opacity-50 w-100 h-100 z-3" id="loadingOverlay">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center flex-wrap">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
