<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Bot Telegram</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Optional: Bootstrap Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Google Translate -->
    <style type="text/css">
        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            top: 0px !important;
        }
    </style>
    <meta name="google" content="notranslate">
</head>
<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">ChatControlCenter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                </ul>
                <div id="google_translate_element" class="ms-auto"></div>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="mb-4"><i class="bi bi-shield-lock-fill"></i> Privacy Policy</h1>
        <p>Questa Privacy Policy descrive come raccogliamo, utilizziamo e proteggiamo i dati degli utenti attraverso il nostro bot Telegram ("Bot"). Utilizzando il Bot, accetti i termini descritti in questa Privacy Policy.</p>

        <h2>Dati Raccolti</h2>
        <ul>
            <li><strong>Identificatori Telegram</strong>: Questi includono l'ID utente, il nome utente e il nome visualizzato.</li>
            <li><strong>Log delle Attività</strong>: Informazioni su quando e come interagisci con il Bot.</li>
            <li><strong>Dati di Ban e Blacklist</strong>: Informazioni su utenti bannati e inseriti in blacklist per motivi di sicurezza e moderazione.</li>
        </ul>

        <h2>Finalità della Raccolta Dati</h2>
        <p>I dati raccolti sono utilizzati esclusivamente per le seguenti finalità:</p>
        <ul>
            <li><strong>Sicurezza e Moderazione</strong>: Gestione e monitoraggio degli utenti per prevenire abusi, comportamenti non conformi e attività non autorizzate.</li>
            <li><strong>Implementazione del Ban e Blacklist</strong>: Assicurare che gli utenti bannati o inseriti in blacklist non possano riaccedere al Bot.</li>
        </ul>

        <h2>Modalità di Utilizzo dei Dati</h2>
        <ul>
            <li>I dati raccolti sono utilizzati esclusivamente per le finalità sopra descritte.</li>
            <li>Non condividiamo, vendiamo o utilizziamo i tuoi dati per scopi di marketing, pubblicità o altre finalità non specificate in questa Privacy Policy.</li>
        </ul>

        <h2>Conservazione dei Dati</h2>
        <ul>
            <li>I dati degli utenti saranno conservati per il tempo necessario a soddisfare le finalità di sicurezza e moderazione.</li>
            <li>I dati verranno eliminati quando non saranno più necessari per queste finalità.</li>
        </ul>

        <h2>Protezione dei Dati</h2>
        <p>Adottiamo misure di sicurezza appropriate per proteggere i tuoi dati da accessi non autorizzati, alterazioni, divulgazioni o distruzioni.</p>

        <h2>Diritti degli Utenti</h2>
        <ul>
            <li><strong>Accesso e Correzione</strong>: Hai il diritto di richiedere l'accesso ai tuoi dati personali e di correggere eventuali inesattezze.</li>
            <li><strong>Cancellazione</strong>: Hai il diritto di richiedere la cancellazione dei tuoi dati personali, salvo che la loro conservazione sia necessaria per motivi legittimi di sicurezza e moderazione.</li>
        </ul>

        <h2>Modifiche alla Privacy Policy</h2>
        <p>Potremmo aggiornare questa Privacy Policy di tanto in tanto. Ti informeremo di eventuali modifiche pubblicando la nuova Privacy Policy su questa pagina.</p>

        <h2>Contatti</h2>
        <p>Per domande o richieste relative a questa Privacy Policy, puoi contattarci entrando nel seguente gruppo Telegram: <a href="https://t.me/chatcontrolcenter_support">ChatControlCenter Support</a>.</p>

        <footer class="pt-5 my-5 text-body-secondary border-top">
            Created by ChatControlCenter Team &middot; &copy; 2023-24 | <a href="https://github.com/ChatControlCenter/chatcontrolcenter">Source</a>
        </footer>
    </div>

    <!-- Bootstrap JS (optional, but recommended for responsive behavior) -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>
    <!-- Google Translate -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'it',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
